* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html,
body {
  height: 100vh;
}